# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
.vite/
.turbo/
.parcel-cache/
coverage/

# Local overrides
*.local

# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
data
validation_data

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.swp

# System-specific
Thumbs.db
ehthumbs.db