@import './theme.css';
@import "./ui/chat-window/chat-window.css";
@import "./ui/chat-input/chat-input.css";
@import "./ui/chat-input/chat-context-menu.css";
@import "./ui/chat-message/chat-message.css";
@import "./ui/chat-message/message-actions.css";
@import "./globals/scrollbar.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: var(--bg-1);
  color: var(--text-1);
  height: 100%;
  margin: 0;
  padding: 0;
}